/*Author: Layal Al-Abdali - U20200942 */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
html {background-image: url('Images/bg_web.jpg') ;  background-size:cover;}

/*start of the header styling*/	
header {display: flex; justify-content: space-between;}

#nav_list {list-style-type: none; margin: 0; padding: 0;}
		
#nav_list li {display: inline-block; background-color: black; width: auto; height: auto; text-align:center; font-size: x-large; color:white; padding-top: 20px; font-family: sans-serif;}

#nav_list li a {text-decoration: none; border:medium hidden black; padding: 20px;}

#nav_list li a:hover {border-bottom: medium solid #0080FF;}

#nav_list li a:link, #nav_list li a:visited {color:white;}
/*end of the header styling*/

/*start of the footer styling*/
footer {border-top:medium solid #0080FF; display: flex; justify-content: center;}
.mySocials {color: darkgray; font-family: "lucida sans unicode", "lucida grande", sans-serif; font-variant: small-caps;}
.mySocials_list {list-style-type: none; margin: 0; padding: 0;}
.mySocials_list li {display: inline-block; width:auto; height:auto; margin-right:20px;}
.mySocials_list li:hover {border:thin solid white;}
/*end of the footer styling*/

/*start of the "introduce" div */
#introduce {color:white; width: 90%; margin-top: 50px; padding: 20px; padding-bottom:50px;}
#laptop {position:absolute; top:250px; right:100px;width:25%;}
#mynameis {width:50%; line-height: 40px;}
#letme {border:medium dashed #187D92; width:400px; padding: 10px;}
#view {border:medium dashed #FFAF10; width:200px; padding: 10px; padding-right:30px;text-decoration: none;}
#arrow {position: relative; top:5px;left:10px;}
#view:link, #view:visited {color:white;}
/*end of the "introduce" div */