/*Author: Layal Al-Abdali - U20200942 */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
html {background-image: url('Images/bg_web.jpg') ;  background-size:cover;}

/*start of the header styling*/	
header {display: flex; justify-content: space-between;}

#nav_list {list-style-type: none; margin: 0; padding: 0;}
		
#nav_list li {display: inline-block; background-color: black; width: auto; height: auto; text-align:center; font-size: x-large; color:white; padding-top: 20px; font-family: sans-serif;}

#nav_list li a {text-decoration: none; border:medium hidden black; padding: 20px;}

#nav_list li a:hover {border-bottom: medium solid #0080FF;}

#nav_list li a:link, #nav_list li a:visited {color:white;}
/*end of the header styling*/

/*start of the footer styling*/
footer {border-top:medium solid #0080FF; display: flex; justify-content: center;}
.mySocials {color: darkgray; font-family: "lucida sans unicode", "lucida grande", sans-serif; font-variant: small-caps;}
.mySocials_list {list-style-type: none; margin: 0; padding: 0;}
.mySocials_list li {display: inline-block; width:auto; height:auto; margin-right:20px;}
.mySocials_list li:hover {border:thin solid white;}
/*end of the footer styling*/

/*start of the "hello" section styling*/
#hello_div {margin-top:60px ;display:flex; justify-content: center;}
#hello_txt {position:relative; top:50px; left:-60px;font-family:'Pixelify Sans',sans-serif; color:white; width:40%; font-size:50pt;}
#girl_img {position:relative; top:50px;left:80px;}
/*end of the "hello" section styling*/

/*start of the "welcome" section styling*/
#welcome {color:white; font-family: 'Russo One', sans-serif; font-size: 50pt;}
#welcome_p {color:white;font-family: "Russo One", sans-serif; font-size:20px; font-style: italic; line-height: 40px;}
#welcome_div {margin-left: 50px; margin-top: 150px; margin-bottom: 20px; width:60%; border:thick dashed #FF5D0F; padding: 20px;}
/*end of the "welcome" section styling*/